{% extends 'layout_2.html.twig' %}

{% block content %}
    <div class="listing">

        <div id="content2">
            <!-- Blog Detail -->
            <div class="blog_detail">
                <div class="bloginfo">
                    <h5>{{ article.titre }} </h5>
                    <div class="info info1">
                        <span class="postedby">Publié par: <a href="#">{{ article.user }}</a></span>
                        <span class="lastupdte"> Publié le:<i>{{ article.date | date('d/m/Y') }}</i></span>
                    </div>
                    <div class="clear"></div>
                </div>
                {% if delete_form %}
                    <div class="btn_del_edi">
                        <ul>
                            <li>
                                <a type="button"
                                   href="{{ path('forum_edit', {'type':type, 'id': article.id }) }}">Edit</a>
                            </li>
                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div>
                    <p>
                        {{ article.description }}
                    </p>
                </div>
            </div>
            <div class="clear"></div>
            <!-- Blog Comments -->
            {{ render(controller('AppBundle:Commentaire:index',{'article' : article})) }}
            {{ render(controller('AppBundle:Commentaire:new',{
                'article_id' : article.id
            }, {'standalone':true})) }}
        </div>
    </div>
{% endblock %}
