{% extends 'layout_2.html.twig' %}

{% block content %}
    <h1>Article edit</h1>

    {{ form_start(edit_form) }}
    <div class="form">
        <ul class="inquiryform">
            <li>
                {{ form_widget(edit_form.titre, {'attr': {
                    'placeholder':'titre'
                }}) }}
            </li>
            <li>
                {{ form_widget(edit_form.description, {'attr': {
                    'placeholder':'description',
                    'class':'txtarea',
                    'rows':'0',
                    'cols':'0'
                }}) }}
            </li>
        </ul>
        {{ form_widget(edit_form) }}
        <button class="btn1" type="submit">Edit</button>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
