{% extends 'layout_2.html.twig' %}

{% block content %}
    <h2 class="pad8">Galerie photos</h2>
    <!-- Blog Listing -->
    <div class="thumbdiv">
        <ul>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery1.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery3.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery4.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery5.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery6.gif') }}" alt=""/>
                </a>
            </li>
<li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery1.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery3.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery4.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery5.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery6.gif') }}" alt=""/>
                </a>
            </li>
<li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery1.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery3.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery4.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery5.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery6.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery1.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery3.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery4.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery5.gif') }}" alt=""/>
                </a>
            </li>
            <li>
                <a href="{{ asset('images/lightboximg.gif') }}" rel="galleryimg" class="galleryimg">
                    <img src="{{ asset('images/gallery6.gif') }}" alt=""/>
                </a>
            </li>

        </ul>
    </div>
{% endblock %}
