<!-- Footer Section -->
<div id="bottom_seciton">
    <div id="footer">
        <!--Find your way -->
        <div class="find_your_way">
            <h5>Lycee</h5>
            <ul>
                <li><a href="{{ path('presentation') }}">Presentation</a></li>
                <li><a href="{{ path('enseignant') }}">Enseignant</a></li>
                <li><a href="{{ path('galerie_photos') }}">Galerie photos</a></li>

            </ul>
        </div>
        <!-- Help and Support -->
        <div class="help_support">
            <h5>Departement</h5>
            <ul>
                <li><a href="{{ path('dep_informatique') }}">Informatique</a></li>
                <li><a href="{{ path('dep_physique') }}">Physique</a></li>

            </ul>
        </div>
        <!-- Quick Links -->
        <div class="quick_links">
            <h5>Formation</h5>
            <ul>
                <li><a href="{{ path('for_informatique') }}">Informatique</a></li>
                <li><a href="{{ path('for_lettre') }}">Lettre</a></li>
                <li><a href="{{ path('for_mathematique') }}">Mathématique</a></li>
                <li><a href="{{ path('for_science') }}">Science</a></li>
                <li><a href="{{ path('for_economie_gestion') }}">Econmie-Gestion</a></li>
            </ul>
        </div>
        <!-- Addmission -->
        <div class="Addmissoin">
            <h5>Vie Soclaire</h5>
            <ul>
                <li><a href="{{ path('clubs') }}">Clubs</a></li>
                <li><a href="{{ path('manifestation') }}">Manifestation</a></li>

            </ul>
        </div>
        <!-- Contact Us -->
        <div class="contact_us">
            <h5>Contact Us</h5>
            <ul>
                <li class="telephone_no"><a href="#">(+126) 71 555 555</a></li>

                <li class="email_address"><a href="#">hosni201190@gmail.com</a></li>
                <li class="googlemaps"><a href="https://www.google.com/maps/place/Lyc%C3%A9e+Elahid+Elajadid/
                @35.5956504,8.6575601,17z/data=!3m1!4b1!4m5!3m4!1s0x12f97d532a248591:0x412f98baac91895f!8m2!3d35.5956504!4d8.6597488">Localisation</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Bototm seciton -->
<div id="bottom_Section">
    <!-- page bottm -->
    <div id="pagebottom">
        <!-- copyright -->
        <div class="copyright">&copy; 2017 <a href="{{ path('homepage') }}">Site de Lycee</a></div>
        <a href="#" class="top">Haut</a>
        <!-- Social Networks -->
        <div class="socail_networks">
            <ul>
                <li class="servcies">Rejoignez nous sur</li>
                <li><a href="https://www.facebook.com/pages/Lyc%C3%A9e-el-ahd-el-jadid-Thala/170218076321546"><img
                                src="{{ asset('images/facebook_icon.gif') }}" alt=""/> </a></li>
                <li><a href="#"><img src="{{ asset('images/social_icon.gif') }}" alt=""/> </a></li>
                <li><a href="#"><img src="{{ asset('images/linkedin_icon.gif') }}" alt=""/> </a></li>
                <li><a href="#"><img src="{{ asset('images/twitter_icon.gif') }}" alt=""/> </a></li>
                <li><a href="#"><img src="{{ asset('images/rssfeed_icon.gif') }}" alt=""/> </a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>